<html>
    <head>
        <title>Profile page</title>
        <link rel="stylesheet" href="/css/layout.css">
        <!-- place the style here so that styles we want in subpages overrides over the above style  -->
        <%- style %>
    </head>
    <body>

        <%- include('_header'); %> 

        <%- body %>

        <%- include('_footer'); %>

        <%- script %>

    </body>
</html>